In [1]:
import json
import pandas as pd
import os # Wow, I'm really learning a lot about commiting, haha

from main import setup_env

setup_env()

Success: Environment variables loaded successfully.

# Getting the PUUID of summoner by name

In [2]:
import requests

def get_puuid(summoner_name, region):
    base_url = f"https://{region.lower()}.api.riotgames.com/lol/summoner/v4/summoners/by-name/{summoner_name}"
    headers = {
        "X-Riot-Token": os.getenv("LEAGUE_API_KEY")
    }
    
    response = requests.get(base_url, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        return data.get("puuid")
    else:
        print(f"Error: {response.status_code}")
        return None

# Getting the match history of a summoner

In [3]:
def get_match_history(puuid, start_time, end_time, start, count):
    start_timestamp = date_to_timestamp(start_time)
    end_timestamp = date_to_timestamp(end_time)
    
    base_url = f"https://europe.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids?start={start}&count={count}&startTime={start_timestamp}&endTime={end_timestamp}"
    headers = {
        "X-Riot-Token": os.getenv("LEAGUE_API_KEY"),
    }
    
    response = requests.get(base_url, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Error: {response.status_code}")
        print(response.json())
        return None

# Getting the match data

In [4]:
def get_match_data(match_id):
    base_url = f"https://europe.api.riotgames.com/lol/match/v5/matches/{match_id}"
    headers = {
        "X-Riot-Token": os.getenv("LEAGUE_API_KEY"),
    }
    
    response = requests.get(base_url, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        return data
    else:   
        print(f"Error: {response.status_code}")
        print(response.json())
        return None

In [42]:
# Convert date to timestamp (seconds)
# Using timezone Europe/Bucharest
import datetime
import pytz

def date_to_timestamp(date):
    date = datetime.datetime.strptime(date, "%Y-%m-%d")
    date = pytz.timezone("Europe/Bucharest").localize(date)
    return int(date.timestamp())

def timestamp_milis_to_datetime(timestamp):
    return datetime.datetime.fromtimestamp(timestamp / 1000, pytz.timezone("Europe/Bucharest"))
    

def filter_match_data(match_data, puuid):
    filtered_data = {
        "id": match_data["metadata"]["matchId"],
        "start_time": timestamp_milis_to_datetime(match_data["info"]["gameStartTimestamp"]),
        "stop_time": timestamp_milis_to_datetime(match_data["info"]["gameEndTimestamp"]),
        "duration_in_seconds": match_data["info"]["gameDuration"],
        "duration_in_minutes": match_data["info"]["gameDuration"] / 60,
        "gamemode": match_data["info"]["gameMode"],
        "kda_formatted": None,
        "kda": None,
        "win": None,
        "champion": None,
    }
    
    for player in match_data["info"]["participants"]:
        if player["puuid"] == puuid:
            filtered_data["kda_formatted"] = f"{player['kills']}/{player['deaths']}/{player['assists']}"
            player["deaths"] = 1 if player["deaths"] == 0 else player["deaths"]
            filtered_data["kda"] = (player["kills"] + player["assists"]) / player["deaths"]
            filtered_data["win"] = player["win"]
            filtered_data["champion"] = player["championName"]
            break
            
    return filtered_data

In [44]:
def turn_data_to_dataframe(match_ids, puuid):
    matches_data = [get_match_data(match_id) for match_id in match_ids]
    filtered_matches_data = [filter_match_data(match_data, puuid) for match_data in matches_data]
    
    return pd.DataFrame(filtered_matches_data)

In [52]:
puuid = get_puuid("extremq", "EUN1")
match_history = get_match_history(puuid, "2023-08-12", "2023-08-19", 0, 100)
turn_data_to_dataframe(match_history, puuid)

,id,start_time,stop_time,duration_in_seconds,duration_in_minutes,gamemode,kda_formatted,kda,win,champion
0,EUN1_3437170687,2023-08-18 07:37:34.364000+03:00,2023-08-18 08:12:31.017000+03:00,2096,34.933333,CLASSIC,17/7/20,5.285714,True,LeeSin
1,EUN1_3436810195,2023-08-17 19:23:21.803000+03:00,2023-08-17 19:41:15.200000+03:00,1073,17.883333,ARAM,25/8/23,6.000000,True,Zed
2,EUN1_3436785545,2023-08-17 19:02:28.446000+03:00,2023-08-17 19:21:00.602000+03:00,1112,18.533333,ARAM,4/13/20,1.846154,False,Sion
3,EUN1_3436642726,2023-08-17 15:11:01.366000+03:00,2023-08-17 15:33:09.424000+03:00,1328,22.133333,ARAM,18/11/39,5.181818,True,Leona
4,EUN1_3436633168,2023-08-17 14:48:25.861000+03:00,2023-08-17 15:07:49.238000+03:00,1163,19.383333,ARAM,4/18/24,1.555556,False,Sion
5,EUN1_3436614912,2023-08-17 14:25:38.115000+03:00,2023-08-17 14:45:09.233000+03:00,1171,19.516667,ARAM,8/9/43,5.666667,True,Rell
6,EUN1_3436053023,2023-08-16 17:36:01.694000+03:00,2023-08-16 18:09:12.737000+03:00,1991,33.183333,CLASSIC,13/8/6,2.375000,False,Ezreal
7,EUN1_3436039855,2023-08-16 17:12:01.818000+03:00,2023-08-16 17:30:54.267000+03:00,1132,18.866667,CLASSIC,1/9/6,0.777778,False,Alistar
8,EUN1_3436015683,2023-08-16 16:42:24.088000+03:00,2023-08-16 17:06:18.878000+03:00,1434,23.900000,CLASSIC,6/4/12,4.500000,True,LeeSin
9,EUN1_3435999852,2023-08-16 16:06:43.076000+03:00,2023-08-16 16:35:18.626000+03:00,1715,28.583333,CLASSIC,5/8/5,1.250000,False,LeeSin
10,EUN1_3435970999,2023-08-16 15:20:15.363000+03:00,2023-08-16 15:34:28.650000+03:00,853,14.216667,CHERRY,8/1/10,18.000000,True,Pantheon
11,EUN1_3435972341,2023-08-16 15:06:15.397000+03:00,2023-08-16 15:21:37.178000+03:00,921,15.350000,CHERRY,8/5/0,1.600000,False,Pantheon
12,EUN1_3435945629,2023-08-16 14:41:44.039000+03:00,2023-08-16 15:02:07.025000+03:00,1223,20.383333,ARAM,18/9/20,4.222222,True,Belveth
13,EUN1_3435935290,2023-08-16 14:08:40.176000+03:00,2023-08-16 14:37:45.045000+03:00,1744,29.066667,ARAM,20/17/22,2.470588,False,Kayn
14,EUN1_3435919359,2023-08-16 13:42:10.052000+03:00,2023-08-16 14:04:24.692000+03:00,1334,22.233333,ARAM,17/12/19,3.000000,False,Chogath
15,EUN1_3435912400,2023-08-16 13:14:31.793000+03:00,2023-08-16 13:35:04.405000+03:00,1232,20.533333,ARAM,24/9/18,4.666667,True,Kayle
16,EUN1_3435893474,2023-08-16 12:44:20.239000+03:00,2023-08-16 13:12:23.122000+03:00,1682,28.033333,ARAM,11/15/18,1.933333,False,Blitzcrank
17,EUN1_3435857927,2023-08-16 11:00:22.414000+03:00,2023-08-16 11:31:00.726000+03:00,1838,30.633333,CLASSIC,12/5/13,5.000000,True,LeeSin
18,EUN1_3435841885,2023-08-16 09:38:23.816000+03:00,2023-08-16 10:14:10.005000+03:00,2146,35.766667,CLASSIC,17/3/15,10.666667,True,Zed
19,EUN1_3435834545,2023-08-16 08:53:34.220000+03:00,2023-08-16 09:31:16.753000+03:00,2262,37.700000,CLASSIC,7/9/13,2.222222,False,LeeSin
20,EUN1_3435833147,2023-08-16 07:54:08.685000+03:00,2023-08-16 08:15:28.840000+03:00,1280,21.333333,ARAM,17/13/24,3.153846,True,Illaoi
21,EUN1_3435818943,2023-08-16 07:29:13.230000+03:00,2023-08-16 07:51:03.040000+03:00,1309,21.816667,ARAM,18/7/37,7.857143,True,Veigar
22,EUN1_3435830845,2023-08-16 07:07:28.914000+03:00,2023-08-16 07:25:25.234000+03:00,1076,17.933333,ARAM,5/10/50,5.500000,True,Thresh
23,EUN1_3435821718,2023-08-16 06:43:43.225000+03:00,2023-08-16 07:02:23.448000+03:00,1120,18.666667,ARAM,14/10/12,2.600000,False,Aatrox
24,EUN1_3435474297,2023-08-15 19:33:29.990000+03:00,2023-08-15 20:04:31.496000+03:00,1861,31.016667,CLASSIC,16/6/6,3.666667,True,LeeSin
25,EUN1_3435441530,2023-08-15 18:49:40.054000+03:00,2023-08-15 19:23:10.361000+03:00,2010,33.500000,CLASSIC,11/5/5,3.200000,False,LeeSin
26,EUN1_3435377283,2023-08-15 17:11:40.331000+03:00,2023-08-15 17:37:00.550000+03:00,1520,25.333333,ARAM,23/14/25,3.428571,True,Graves
27,EUN1_3435361423,2023-08-15 16:50:49.272000+03:00,2023-08-15 17:07:41.212000+03:00,1011,16.850000,ARAM,9/11/19,2.545455,False,Sylas
28,EUN1_3435340928,2023-08-15 16:29:18.457000+03:00,2023-08-15 16:46:06.339000+03:00,1007,16.783333,ARAM,2/9/31,3.666667,True,Leona
29,EUN1_3435331255,2023-08-15 16:01:07.449000+03:00,2023-08-15 16:24:55.907000+03:00,1428,23.800000,ARAM,21/16/33,3.375000,True,Singed
30,EUN1_3435308155,2023-08-15 15:26:04.170000+03:00,2023-08-15 15:58:28.505000+03:00,1944,32.400000,CLASSIC,2/3/7,3.000000,True,Vladimir
31,EUN1_3435269238,2023-08-15 14:21:20.493000+03:00,2023-08-15 15:00:16.718000+03:00,2336,38.933333,CLASSIC,3/10/13,1.600000,False,Ezreal
32,EUN1_3435247084,2023-08-15 13:39:53.625000+03:00,2023-08-15 14:11:23.446000+03:00,1889,31.483333,CLASSIC,8/12/8,1.333333,False,Naafiri
33,EUN1_3435234306,2023-08-15 13:21:48.955000+03:00,2023-08-15 13:36:08.113000+03:00,859,14.316667,CHERRY,4/8/0,0.500000,False,Soraka

In [46]:
dragos_dataframe = _

In [49]:
rares_dataframe = _

In [53]:
stefa_dataframe = _

In [51]:
# Check how many ids are in both dataframes
len(set(dragos_dataframe["id"]) & set(rares_dataframe["id"]))

25

In [54]:
# Check how many ids are in both dataframes
len(set(dragos_dataframe["id"]) & set(stefa_dataframe["id"]))

13

In [55]:
# Check how many ids are in all dataframes
len(set(dragos_dataframe["id"]) & set(rares_dataframe["id"]) & set(stefa_dataframe["id"]))

13

In [56]:
# Check how many ids are in both
len(set(stefa_dataframe["id"]) & set(rares_dataframe["id"]))

19